/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* font end  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Shared style  */
.display-flex {
    display: flex;
}
.section-tittle {
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.pri-btn{
    padding: 20px 25px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}
main >section {
    margin-top: 130px;
}


/* color style  */
.orange {
    color: #FF900E;
}
.txt-col-dark1{
    color: #131313;
}

.txt-col-dark2{
    color: #424242;
}

.txt-col-dark3 {
    color: #727272;
}
.header-bg-col {
    background-color: #ff8f0e20;
}
/* color style end  */


/* navbar style  */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 2.8rem;
    font-weight: 700px;
}
.nav-item {
    list-style: none;
    margin-right: 50px;
}
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    line-height: 26px;
    
}
.navbar, .banner, main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner  */
.banner-contain {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.bann-title {
    font-weight: 700px;
    font-size: 4rem;
    margin-bottom: 30px;
}
.bann-desc {
    margin-bottom: 30px;
}
.bann-img {
    width: 100%;
}


/* main section  */
.team-feature{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.fetures{
    margin-left: 70px;
    max-width: 530px;
}


.ft1 {
    font-weight: 500px;
}
.ft2, .ft3 {
    font-weight: 700px;
}
.feature-dis {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 30px;

}

/* feture list  */
.featurelist{
    gap: 146px;
}
#f-list {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.f-card{
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000025;
    margin-top: 30px;
}
.f-card h4{
    font-size: 1.25rem;
    font-weight: 600px;
}
.featu-img img {
    width: 100%;
}
#exp-badge {
    padding: 45px 42px;
    font: 1.5rem;
    font-weight: 500px;
    margin-left: -100px;
    margin-top: -100px;
}
#exp-year {
    font-size: 4rem;
    font-weight: 700px;
}


/* fact card  */
.fact-dis {
    max-width: 542px;
}
.fact-container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.fact {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
}
.fact-number {
    font-size: 2.8rem;
    font-family: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;
}
/* sponsor  */
.sponsore-inf {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.spon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.spon-container img {
    filter: grayscale(100%);
}

.foot-container{
    padding: 38px 410px;
    background-color: #FFF4E7;
    width: 70%;
    max-width: 1440px;
    margin: 100px auto;
    font-size: 1.25rem;
}






/* responsive  */
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .team-feature,
    .featurelist {
        flex-direction: column;
    }
    .banner-contain {
        margin-top: 50px;
    }
    .team-img-container,
    .fact-container,
    .spon-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-tittle {
        margin-top: 20px;
        font-size: 1.8rem;

    }
    .pri-btn {
       padding: 10px 15px;
    color: #ffffff;
    font-size: 0.80rem;
    font-weight: 300px; 
    }
    .fetures{
    margin-left: 20px;
    
    }
    .feature-dis {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;}
    .fact-container {
        justify-items: center;
    }
    .fact {
        margin-top: 20px;
    }
    .sp-img {
        margin: 20px auto;
    }
    #exp-badge {
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px;
        
    }
    #exp-year {
    font-size: 2rem;
    font-weight: 700px;
}
.foot-container {
    width: 100%;
    padding: 20px 40px;
    font-size: 10px;
}
    
    
}



@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-feature,
    .featurelist{
        display: flex;
        flex-direction: column;
    }
    .fetures {
        margin: 50px auto;
    }
    .fact-container,
    .spon-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .fact {
        margin: 20px auto;
    }
    #exp-badge {
        margin-top: 20px;
        margin-left: 20px;
        padding: 20px;
        
    }
    #exp-year {
    font-size: 2rem;
    font-weight: 700px;
}
.foot-container {
    width: 100%;
    padding: 20px 60px;
    font-size: 20px;
}
  
}